<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCD4mI67nAbQCy1RmCYExDWhp95NzTe4ac</string>
	<key>GCM_SENDER_ID</key>
	<string>1019348168991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobile.lettutor</string>
	<key>PROJECT_ID</key>
	<string>deployment-lettutor-2024</string>
	<key>STORAGE_BUCKET</key>
	<string>deployment-lettutor-2024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019348168991:ios:b73f41f8ed3893adbb402a</string>
</dict>
</plist>